.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "text photo";
  padding: 3rem;
  margin-left: 2rem;
}

.pro-text {
  grid-area: photo;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pro-text p {
  padding: 3rem;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  letter-spacing: 1.5px;
  line-height: 1.5em;
}
.pro-img {
  grid-area: text;
  place-items: center;
  height: 80vh;
  box-sizing: border-box;
  padding-left: 2rem;
}

.pro-img img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(400px, 350px, 200px);
  height: clamp(400px, 350px, 200px);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
.pro-text a {
  color: antiquewhite;
  border: none;
  text-decoration: none;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  background-color: rgb(80, 75, 70);
  transition: 1s;
  font-size: 1.5em;
}
.pro-text a:hover {
  letter-spacing: 2px;
}

@media screen and (max-width: 998px) {
 
  .about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "text text "
      "photo photo";
  }
  
}
