
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 3rem;
  width: 100%;
  height: 100vh;
  background: url(../assets/banner.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 8rem;
  text-align: center;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
}

.left h5 {
  font-size: clamp(1rem, 2.5vw, 2rem); 
  font-family: "Dosis", sans-serif;
}
.city{
  text-decoration: none;
  font-size: clamp(1rem, 4vw, 2rem); 
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
}

.angle {
  margin-top: 2rem;
  width: 50%;
  transform: perspective(1000px) rotateY(-55deg);
  transform-origin: right;
  transition: 1s cubic-bezier(0.1, 0, 1, 0.1);
}
.angle:hover {
  transform: perspective(1000px) rotateY(-20deg);
  letter-spacing: 10px;
  padding-left: 3rem;
}

.link {
  font-weight: bold;
  list-style: none;
  letter-spacing: 30px;
  text-transform: uppercase;
  color:antiquewhite;
  font-size: clamp(3rem, 5.5vw, 7rem); 
  font-family: 'Rubik 80s Fade', cursive;
 
  transition: 2s;
}

@media screen and (max-width: 1098px) {
  .right {
    width: 100%;
    place-items: center;
    padding-right:12rem;
    margin-top: -12rem;
  }

}

