html{
    scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Rubik+80s+Fade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Unica+One&display=swap");
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      background: linear-gradient(to bottom right, #151d20f4, #000000);
      color: rgb(255, 255, 255);
}

h1{
  font-family: "Rubik 80s Fade", cursive;
  font-size: clamp(2rem, 6vw, 5rem); 
    text-align: center;
    color: antiquewhite;
}